* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Lobster Two', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background:#E74E35;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}

#dev-msg {
    padding-top: 50px;
    display: none;
    position: fixed;
    height: 100vh;
    z-index: 99;
    background:#E74E35;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 250px;
    height: auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#index-title {
    text-align: center;
    font-size: 6vw;
    margin: 0 5vw 20px 5vw;
    font-weight: bold;
}

.index-subtitle {
    text-align: center;
    font-size: 5vw;
    margin: 0 5vw 25px 5vw;
    color: white;
    height: 20px;
    background-color: #E74E35;
}

#line {
    margin: 10px 0;
    height: 2px;
    background-color: white;
}

#or {
    position: relative;
    top: -21px;
    width: 45px;
    margin: 10px auto 0 auto;
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.center button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 15px;
    font-weight: 600;
    background: #f5f5f5;
    border: none;
    outline: none;
    cursor:pointer;
    border-radius: 5px;
    transition: all 250ms;

}

.center button:hover {
    transform: translateY(-2px);
}

/* Login popup styling */

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 75%;
    max-width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius:10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;

}

.popup.active {
    top: 50%;
    opacity:1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

.popup .close-btn {
    position: absolute;
    top:10px;
    right: 10px;
    width:15px;
    height:15px;
    background:#888;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2 {
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px 0px;
    
}

.popup .form .form-element label {
    font-size: 14px;
    
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;

}


/* Register popup styling */

.popup-reg {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 75%;
    max-width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius:10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;

}

.popup-reg.active {
    top: 50%;
    opacity:1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

.popup-reg .close-btn {
    position: absolute;
    top:10px;
    right: 10px;
    width:15px;
    height:15px;
    background:#888;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup-reg .form h2 {
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup-reg .form .form-element {
    margin: 15px 0px;
    
}

.popup-reg .form .form-element label {
    font-size: 14px;
    
}

.popup-reg .form .form-element input[type="text"],
.popup-reg .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup-reg .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;

}

.loader, .loader-reg {
    display: none;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #E74E35;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#g-signin {
    display: flex;
    justify-content: center;
}

#cred-msg {
    text-align: center;
    color: white;
    padding: 10px;
}
