* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lobster Two', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

/* Styling for navbar */
.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100vh;
    background: #E74E35;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: 99;
}

.sidebar.close {
    width: 25px;
}

.sidebar .wrapper {
    /* width: 250px;
    height: 100%; */
}

#buttons-container {
    opacity: 0;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 250px;
    height: auto;
}

#newHabit, #myHabitBtn {
    display: flex;
    align-items: center;
    margin: 10px auto;
    /* margin-left: 1.5em; */
    padding: 15px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    box-shadow: rgb(213 217 217 / 50%) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 250ms;
    width: 200px;
    height: 50px;
    text-align: center !important;
    line-height: 50px;
    justify-content: center; 
}

#newHabit:hover {
    transform: translateY(-2px);
}

#yourHabits {
    font-size: 2em;
    color:#fff;
    margin-left: 1.5em;
    margin-top: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;

}

li {
    color: #fff;
    font-size: 1.5em;
    margin: 20px;
    margin-left: 2.5em;

}

#closeNav {
    position: absolute;
    top: 2.5%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
}

/* Page styling */

body {
    background-color: #373A36;
    transition: margin-left .5s;
}

main {
    position:relative;
    margin-left: 30px;
    transition: margin-left .5s;
}

h1 {
    padding: 5px;
    color: #fff;
}

#waterBtn, #exerciseBtn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #e6e6e6;
    border: 2px solid #E74E35;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
}

#modal {
    color: #fff;
    margin: 5px;

}

#hbtTitle {
    margin-bottom: 20px;
    text-decoration: underline;
}

#hbtTarget {
    margin-bottom: 5px;
}

#hbtFreq {
    margin-bottom: 5px;
}

#hbtStreak {
    margin-bottom: 5px;
}

#button-form {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

#completed-button {
    width: 160px;
    border-radius: 25px;
    height: 40px;
    background-color: #63b963;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

#completed-button:disabled {
    background-color: #e74e35;
    color: #bebebe;
    cursor: default;
}

#countdown {
    display: flex;
    justify-content: center;
    color: white;
}

#water-cd-container {
    display: none;
}

#exercise-cd-container {
    display: none;
}
